* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.ToolArea {
    padding: 10px;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 10px;
}

.ToolCard {
    display: block;
    background-color: aliceblue;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
}

.ToolCard h3 {
    height: 30px;
}

.ToolCard p {
    text-align: left;
    height: 130px;
    overflow: hidden;
}

.ToolCard a {
    justify-self: end;
    height: 20px;
}